html {
  font-family: "PT Sans", sans-serif;
  color: #214E5B;
  -webkit-font-smoothing: antialiased;
}

header {
  text-align: left;
  position: absolute;
  padding: 1rem 0 0;
  left: 0;
  top: 0;
  right: 0;
}

.section-heading {
  width: 80%;
  text-align: left;
}

.logo {
  height: 20px;
}

.banner {
  background-image: url("../images/sloth-banner.jpg");
  min-height: 800px;
  background-size: cover;
  background-position: 25% 0%;
}

.banner-text {
  text-align: center;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.banner-text p {
  color: #fff;
}

h1 {
  font-family: "Nunito", sans-serif;
  color: #fff;
}

/* NAVIGATION CODE */

.nav {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
}

.nav a {
  display: block;
  margin: .5em;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.nav a:hover {
  color: #DCE0D1;
}

[type="checkbox"] + label::before {
  position: absolute;
  top: -7em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 30px;
  position: absolute;
  right: 1.3rem;
  top: 10px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.green {
  color: #588351;
}

@media only screen and (min-width: 38em) {
  .nav-open, .nav-close {
    display: none;
  }

  .nav {
    background-color: transparent;
    display: block;
    position: absolute;
    text-align: right;
    padding: .2rem 1rem 0 0;
    top: 0;
    width: 80%;
  }

  .nav a {
    font-size: 1rem;
  }

  .nav-adopt a {
    border: 1px solid #fff;
    border-radius: 25px;
    padding: .2rem .8rem;
  }

  .nav-adopt a:hover {
    border-color: #DCE0D1;
  }

  .section-heading {
    float: left;
    width: 35%;
  }

  .section-nav {
    float: right;
    width: 65%;
  }

  .nav li {
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

@media only screen and (min-width: 60em) {

  .section-heading {
    float: left;
    width: 35%;
  }
}

/* ADOPT PAGE */

.banner-adopt {
  background-image: url("../images/banner-signup.jpg");
  min-height: 900px;
  background-size: cover;
  background-position: 25% 0%;
}

.nav-dark {
  background-color: #588351;
}

.adopt-text {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.white {
  color: #fff;
}

.adopt-text p {
  max-width: 630px;
  margin: 0 auto;
}

.adopt-form {
  background-color: rgba(255, 255, 255, .9);
  border-radius: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.signup-input {
  border: none;
  border-bottom: 1px solid #5c91b0;
  background-color: transparent;
  font-size: .75rem;
  color: #ababac;
}

.signup-label {
  font-size: 1rem;
  color: #95989a;
}

/* BUTTON CODE */

.btn-transparent {
  background-color: transparent;
  border-radius: 30px;
  font-weight: 300;
  border: 1px solid #fff;
  padding: .5rem 2rem;
}

.btn-transparent:hover {
  background-color: #DCE0D1;
  border: 1px solid #DCE0D1;
}
