html {
  font-family: "PT Sans", sans-serif;
  color: #214E5B;
  -webkit-font-smoothing: antialiased;
  background-color: #EAEDE2;
}

header {
  text-align: left;
  position: fixed;
  padding: 1rem 0 0;
  left: 0;
  top: 0;
  right: 0;
  transition: background-color 0.5s ease-in-out;
  background-color: transparent;
}

header.opaque {
  background-color: #214E5B;
}

.section-heading {
  width: 80%;
  text-align: left;
}

.logo {
  height: 20px;
}

h1 {
  font-family: "Nunito", sans-serif;
  color: #fff;
}

h2 {
  font-family: "Nunito", sans-serif;
  color: #214E5B;
}

h3 {
  font-family: "PT Sans", sans-serif;
  color: #A3766A;
  font-weight: 700;
}

h4 {
  font-family: "PT Sans", sans-serif;
  color: #588351;
}

.dash {
  width: 83px;
  margin: 0 auto;
  background-color: #C59332;
  height: 5px;
  border: 0;
  border-radius: 2px;
}


/* CODE FOR BANNERS */

.main-banner {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3)), url("../images/sloth-banner.jpg");
  height: 800px;
  background-size: cover;
  background-position: 60% 0%;
  overflow: hidden;
}

.banner-image {
  height: 800px;
}

.banner-text {
  text-align: center;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

.banner-text p {
  color: #fff;
}

/* SLOTH FACTS SECTION ON HOME PAGE */

.sloth-facts {
  background-color: #EAEDE2;
}

@media only screen and (min-width: 20em) {

  .sloth-facts {
    text-align: center;
  }
}

@media only screen and (min-width: 25em) {

  .sloth-facts {
    text-align: left;
  }
}

/* ADOPT SECTION ON HOME PAGE */

.homepage-adopt-banner {
  background-image: url("../images/banner-3.jpg");
  min-height: 400px;
  background-size: cover;
  background-position: 25% 50%;
}

.homepage-adopt-banner p {
  color: #fff;
}

/* NAVIGATION CODE */

.nav {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  background-color: rgba(33, 78, 91, .80);
}

.nav a {
  display: block;
  margin: .5em;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.nav a:hover {
  color: #C59332;
  transition: .3s;
}

[type="checkbox"] + label::before {
  position: absolute;
  top: -7em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  display: inline-block;
  width: 30px;
  position: absolute;
  right: 1.3rem;
  top: 10px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

@media only screen and (min-width: 38em) {
  .nav-open, .nav-close {
    display: none;
  }

  .nav {
    background-color: transparent;
    display: block;
    position: absolute;
    text-align: right;
    padding: .2rem 1rem 0 0;
    top: 0;
    width: 80%;
  }

  .nav a {
    font-size: 1rem;
  }

  .nav-adopt a {
    border: 1px solid #fff;
    border-radius: 25px;
    padding: .2rem .8rem;
  }

  .nav-adopt a:hover {
    border: 1px solid rgba(88, 131, 81, .80);
    color: #fff;
  }

  .section-heading {
    float: left;
    width: 35%;
  }

  .section-nav {
    float: right;
    width: 65%;
  }

  .nav li {
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

@media only screen and (min-width: 60em) {

  .section-heading {
    float: left;
    width: 35%;
  }
}

/* ADOPT PAGE */


.nav-dark {
  background-color: rgba(33, 78, 91, .80);
}

.adopt-text {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.white {
  color: #fff;
}

.adopt-text p {
  max-width: 630px;
  margin: 0 auto;
}

.adopt-form {
  background-color: #fff;
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.signup-input {
  border: none;
  border-bottom: 1px solid #5c91b0;
  background-color: transparent;
  font-size: .75rem;
  color: #ababac;
}

.signup-label {
  font-size: 1rem;
  color: #95989a;
}

/* RESCUE PAGE */

.rescue-bg {
  background-color: #EAEDE2;
}

.rescue-banner {
  background-image: url("../images/banner-2.jpg");
  min-height: 800px;
  background-size: cover;
  background-position: 25% 0%;
}

.rescue-banner-text {
  text-align: center;
  max-width: 800px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.blue-text {
  color: #214E5B;
}

.rescue-images {
  border-radius: 10px 10px 0 0;
}
.rescue-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #fff;
}

.rescue-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.link-box p {
  color: #214E5B;
}

/* BUTTON CODE */


@media only screen and (min-width: 20em) {

  .btn-transparent {
    background-color: transparent;
    border: none;
  }

  .btn-transparent:hover {
    border: none;
    background-color: transparent;
  }

}

@media only screen and (min-width: 38em) {

  .btn-transparent {
    border-radius: 30px;
    font-weight: 300;
    border: 1px solid #fff;
    padding: .5rem 2rem;
  }

  .btn-transparent:hover {
    background-color: rgba(88, 131, 81, .80);
    border: 1px solid rgba(88, 131, 81, .80);
    transition: 0.3s;
  }

}
